mlflow<3,>=2.2
cffi==1.16.0
defusedxml==0.7.1
fsspec==2024.6.0
numpy==1.23.5
packaging==23.2
pandas==2.2.2
pillow==10.3.0
protobuf==4.25.3
pydot==2.0.0
requests==2.32.3
scipy==1.13.1
tensorflow-intel==2.12.0
tensorflow==2.12.0